/* stylelint-disable no-empty-source */

.horizontal-scroller .cards.h-cards {
  background: #181818;
  padding: 32px 30px 0 0 !important;
}
.cards.h-cards ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: stretch;
  overflow-x: auto;
  width: 100%;
  box-sizing: border-box;
}

.cards.h-cards li {
  background: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 320px;
  width: 100%;
  /*height: 400px;*/
  overflow: hidden;
  flex: 0 0 300px;
  margin: 0;
  padding-bottom: 60px;
}

.cards.h-cards .cards-card-image {
  width: 100%;
  aspect-ratio: 5 / 3;
  display: block;
  overflow: hidden;
  background: none;
  margin: 0;
  padding: 0;
}

.cards.h-cards .cards-card-image img,
.cards.h-cards .cards-card-image picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cards.h-cards .cards-card-body {
  background: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /*flex: 1 1 auto;*/
  justify-content: flex-start;
  min-height: 120px;
  box-sizing: border-box;
}

